<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body ng-controller="adminController">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">Spring Security</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#/">Home</a></li>
            <li><a href="#/user">User</a></li>
            <li class="active"><a href="#/admin">Admin</a></li>
            <li><a href="#/login">Login</a></li>
        </ul>
    </div>
</nav>
<div style="text-align: center;margin-top: 35px">
    <h1 style="font-weight: bold">{{hello}}</h1>
    <input class="btn btn-primary btn-lg" type="button" value="logout" ng-click="logout()">
</div>
</body>
</html>