<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body ng-controller="homeController">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">Spring Security</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#/">Home</a></li>
            <li><a href="#/user">User</a></li>
            <li><a href="#/admin">Admin</a></li>
            <li><a href="#/login">Login</a></li>
        </ul>
    </div>
</nav>
<h1 style="text-align: center;margin-top: 35px;font-weight: bold">{{hello}}</h1>
</body>
</html>